*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 50px;
    background-color: blue;
}

.contenitore{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cella{
    height: 50px;
    width: 50px;
}

.cellaNave{
    border: 2px aqua solid;
}

#grigliaGioco{
    display: grid;
    grid-template-columns: repeat(10, 50px);
}

#grigliaBarche{
    gap: 50px;
}

#tipiBarche{
    display: grid;
    grid-template-columns: repeat(9, 50px);
    gap: 5px;
}

#nomi{
    flex-direction: column;
    align-items: end;
    gap: 30px;
}

#scritte{
    gap: 20px;
    flex-direction: column;
    margin: 20px;
}

.colpita{
    background-color: red;
}

.acqua{
    background-color: darkblue;
}

#rigioca{
    font-size: 20pt;
    padding: 20px;
    background-color: darkblue;
    color: gold;
    border: gold 7px solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s;
    display: none;
}

#rigioca:hover{
    transform: scale(1.2);
}

#rigioca:active{
    transform: scale(0.8);
}